@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:700,300,400);

h1, h2, h3,.subheadings{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 400;
}
h2{
	color:#085589;
	font-size: 28px;
	line-height: 1.5em;
}
p{
	line-height: 2em;
	letter-spacing: 0.3px;
	font-size: 1.1em;
	color: #555;
}
hr{
	max-width: 800px;
}
footer{
	background-image:url(img/footer-bg.png);
	background-repeat: repeat-x;
	/*height: 200px;*/
	background-color: #e5eff0;
	/*margin-top: -20px;*/
}
.caps{
	text-transform: uppercase;
}
.lighter-smaller{
	font-weight: 300;
	font-size: 0.7em;
	/*color:#a0e0c6;*/
}
.container-fluid{
	max-width: 940px;
	background: #fff;
	padding-bottom:60px;
}
.content-inner{
	padding:0 40px;a
}
.be-healthy-logo{
	margin-top: 40px;
}
.btn-primary{
	background-image: -webkit-linear-gradient(top,#a1cadc 0,#6398ae 100%);
	background-image: -o-linear-gradient(top,#a1cadc 0,#265a88 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#a1cadc),to(#6398ae));
	background-image: linear-gradient(to bottom,#a1cadc 0,#6398ae 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1cadc', endColorstr='#6398ae', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border:none;
	padding: 3px;
	text-transform: uppercase;
	font-size: 18px;
	/*font-weight: bold;*/
	border-radius: 8px;
	color: #000;
}
.btn-primary:hover{
	background-image: -webkit-linear-gradient(top,#6398ae 0,#a1cadc 100%);
	background-image: -o-linear-gradient(top,#6398ae 0,#a1cadc 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#6398ae),to(#a1cadc));
	background-image: linear-gradient(to bottom,#6398ae 0,#a1cadc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6398ae', endColorstr='#a1cadc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #000;
	background-repeat: repeat-x;
	border:none;
	background-position: 0;
}
.btn-primary:active,
.btn-primary:focus{
	background-position: 0;
}
.btn-primary span{
	display: block;
	padding: 5px 10px;
	margin: 0;
	border-radius: 8px;
	border: solid 1px #fff;
}
.rb-main{
	background-image: url(img/rb-background.png);
	background-repeat: repeat-x;
	background-color: #a4c3c5;
}
.rb-header{
	padding-top:20px;
	background-color: #fff;
	background-repeat: no-repeat;
	height: 370px;
	background-size: cover;
}
.rb-header .subheadings{
	line-height: 1.2em;
	color:#5e9b83;
	font-size: 26px;
	display: block;
	margin-top: 20px;
}
.rb-header-divider{
	display: block;
	height: 50px;
	background-image: url(img/swoosh.png);
	background-position: center top;
	width: 1038px;
	position: absolute;
	z-index: 999;
	margin: -30px -60px 0 -521px;
	left: 50%;
}
.rb-content-top{
	background-color:#fff;
	background-image: url(img/rb-topcontent-bg.png);
	background-position: center top;
	background-repeat: repeat-x;
	/*min-height: 400px;*/
}
.rb-content-top h1{
	letter-spacing: 2px;
	text-align: center;
	color:#fff;
	text-shadow:#000 2px 2px 10px;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 10px;
	margin:40px auto;
	font-weight: 400;
}
.rb-content-top h3{
	font-size: 1.5em;
	color: #085589;
	margin-bottom: 20px;
}
.rb-content-top p{
	padding: 20px 0;
}
.rb-content-top .row,
.rb-content-team .row,
.rb-content-footbar{
	max-width: 860px;
	margin: auto;
}
.rb-content-team h2{
	margin-top: 0;
	margin-bottom: 20px;
}
.person{
	text-align: center;
}
.person-name{
	font-size: 16px;
	color:#1e83a3;
	font-weight: bold;
	display: block;
	margin-top: 5px;
}
.person-subtext{
	color: #565656;
	font-size: 11px;
}
.rb-content-footbar p{
	max-width: 450px;
}
.office-location p{
	line-height: 1.5em;
}
.footer-inner{
	margin: auto;
	max-width: 900px;
}
.footer-inner>div{
	float: left;
	display: block;
	width: 100%;
}
footer h4{
	font-weight: 300;
	color:#555;
	font-size: 20px;
	margin-top: 30px;
}
footer ul{
	list-style: none;
	padding-left:0;
	line-height: 2em;
}
footer a{
	font-weight: bold;
}
@media (min-width: 768px) {
	.container-fluid{
		/*width: 942px;*/
		box-shadow: 0 0 13px rgba(0,0,0,0.35);
	}
	.rb-header{
		background-image: url(img/people.jpg);
	}
	.rb-header .subheadings>span{
		display: block;
	}
	.footer-inner>div{
		display: inline-block;
		width: 300px;
		padding-left: 40px;
	}
}
@media (max-width: 1000px){
	.rb-header-divider{
		max-width: 100%;
		margin:-30px auto;
		left: 0;
	}
}
@media (max-width: 991px){
	.rb-content-top h1{
		font-size: 32px;
	}
}
@media (max-width: 767px) {
	.rb-header{
		text-align: center;
		height: 330px;
	}
	.rb-header .subheadings{
		text-align: left;
		margin: auto;
		font-size: 34px;
		margin: 15px auto 20px;
		max-width: 342px;
		line-height: 1.1em;
	}
	.rb-header-divider{
		background-position: 60% 50%;
	}
	.person:nth-child(n+3){
		padding-top: 20px;
	}
	.rb-content-top h1{
		font-size: 26px;
		letter-spacing: -1px;
	}
	.rb-content-top .cta-btn{
		text-align: center;
	}
	.rb-content-top p{
		margin-top: 20px;
	}
	footer{
		text-align: center;
	}
}
@media (max-width: 640px){
	.rb-header{
		height:290px;
	}
	.rb-header .subheadings{
		font-size: 22px;
		max-width: 230px;
	}
}